<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<a class="btn btn-info" href="/posts">Volver a posts</a>
<h1>Nuevo Post</h1>
<form action="/post" method="POST">
    <div class="col-5 form-group">
        <label for="title">Titulo</label>
        <input class="form-control" required type="text" name="title" id="title">
    </div>
    <div class="col-7 form-group">
        <label for="text">Texto</label>
        <textarea class="form-control" required name="text" id="text" cols="30" rows="10"></textarea>
    </div>
    <div class="col-3 form-group">
        <label for="postCategory">Categoria</label>
        <select class="form-control" name="postCategory" id="postCategory">
            <option th:each="postCategory : ${postCategories}" th:value="${postCategory.id}" th:text="${postCategory.name}"></option>
        </select>
    </div>
    <div class="col-3 form-group">
        <label for="user">Usuario</label>
        <select class="form-control" name="user" id="user">
            <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.name}"></option>
        </select>
    </div>
    <div class="col-4 form-group">
        <label for="creationDate">Fecha</label>
        <input class="form-control" type="date" name="creationDate" id="creationDate">
    </div>
        <input class="btn btn-primary" type="submit" value="Guardar">
</form>
</body>
</html>